logs/
*.log
latest.log

world/
world_nether/
world_the_end/
**/world/
**/world_nether/
**/world_the_end/

cache/
plugins/.paper-remapped/
.paper-remapped/
bStats/
spark/

!folia.jar
!paperclip.jar

.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/
*.iml

*.zip
*.tar.gz
backups/
